# ===============================
# Composer
# ===============================
/vendor/
composer.phar

# ===============================
# Debug local
# ===============================
.env
.env.local
.env.*.local

# ===============================
# Pacotes
# ===============================
*.zip
*.bak
*.old
*.swp